@use '../media' as media;
.offices {
  position: relative;
  &__hero {
    height: 35vh;
    @include media.breakpoint(xs) {
      height: 25vh;
    }
    & > div {
      width: 50%;
      @include media.breakpoint(sm) {
        width: 85%;
      }
      @include media.breakpoint(xs) {
        width: 95%;
      }
    }
  }
  &__section {
    &:last-of-type {
      padding: 1rem 0 3rem 0;
    }
    & > div {
      width: 90%;
    }
  }
}
