@use '../media' as media;
.careers {
  position: relative;
  &__meet {
    background-color: var(--container-color);
    &_row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      @include media.breakpoint(md) {
        flex-direction: column;
      }
    }
    &_col {
      width: 50%;
      position: relative;
      &:first-child {
        padding: 2.5%;
        @include media.breakpoint(lg) {
          padding: 0;
        }
      }
      @include media.breakpoint(md) {
        width: 100%;
      }
    }
    &_description {
      padding: 8rem;
      font-size: 2.2rem;
      color: var(--primary-text-color-light);
      @include media.breakpoint(lg) {
        padding: 5rem;
      }
    }
  }

  &__float {
    span {
      position: absolute;
      display: block;
      width: 5rem;
      height: 5rem;
    }
    &-1 {
      background-color: var(--primary-color);
      top: 0;
      left: 0;
      height: 7rem !important;
    }
    &-2 {
      background-color: var(--primary-color-dark);
      top: 7rem;
      left: 5rem;
      width: 3rem !important;
      height: 3rem !important;
      @include media.breakpoint(lg) {
        left: 0;
      }
    }
    &-3 {
      background-color: var(--white-color);
      bottom: 0;
      right: 10rem;
    }
    &-4 {
      background-color: var(--primary-color);
      bottom: 5rem;
      right: 5rem;
    }
  }

  &__search {
    &_hero {
      height: 55rem;
    }
    &_cta {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        font: var(--display-text);
      }
    }
  }
}
