@use '@styles/media' as media;

.tabs {
  &__header {
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__item {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);
    cursor: pointer;
    img {
      opacity: 0.5;
      transition: all 0.2s ease-in-out;
    }
    h3 {
      font: var(--body-text-regular);
      text-transform: capitalize;
      margin-top: 0.5rem;
      transition: opacity 0.2s ease-in-out;
    }
    &:hover img {
      opacity: 1;
    }
    &-active img {
      opacity: 1;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: inherit;
      height: 0.2rem;
      background: var(--background-color-dark);
      transition: height 0.5s ease-in-out;
    }

    &:hover::after {
      height: 1rem;
    }
    &-active::after {
      height: 1rem;
      background-color: var(--primary-color);
    }
  }
}
