@use '@styles/media' as media;
.filter {
  &__title {
    font: var(--display-text);
    margin-bottom: 3rem;
    max-width: calc((100% / 12) * 8);
    @include media.breakpoint(lg) {
      font: var(--display-small-text);
      max-width: calc((100% / 12) * 10);
    }
    @include media.breakpoint(md) {
      font: var(--headline-large-text);
      max-width: calc((100% / 12) * 12);
      line-height: 1.2;
    }
  }
  &__tabs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__tab {
    text-transform: capitalize;
    @include media.breakpoint(md) {
      padding: 1.4rem;
      font-size: 1.4rem;
    }
    @include media.breakpoint(sm) {
      padding: 1.2rem;
      font-size: 1.2rem;
    }
  }

  &__content {
    padding-top: 4rem;
    &_title {
      font-size: 3rem;
      text-transform: capitalize;
      @include media.breakpoint(sm) {
        font-size: 2.5rem;
      }
    }
  }
  &__list {
    margin-top: 2rem;
    padding-left: 2rem;
    list-style: square;
  }

  &__item {
    color: var(--primary-color);
    font: var(--title-text-regular);
    font-weight: 600;
    padding: 1.2rem 0;
    a {
      color: var(--primary-text-color);
      text-decoration: none;
      border-bottom: 2px solid currentColor;
      letter-spacing: 1px;
      text-transform: capitalize;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}
