.cube {
  position: relative;
  height: 35rem;
  width: 100%;
  &__wrapper {
    perspective: 1000px;
    width: 250px;
    height: 250px;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  &__faces {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    user-select: none;
    position: absolute;
  }

  &__face {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    user-select: none;
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: 50% 50%;
    &--1 {
      background-image: url(/images/careers-cube-500-2.webp);
      transform: translate3d(0px, 0px, -125px) rotateX(180deg);
    }
    &--2 {
      background-image: url(/images/careers-cube-500-3.webp);
      transform: translate3d(0px, 0px, 125px);
    }
    &--3 {
      background-image: url(/images/careers-cube-500-1.webp);
      transform: translate(0px, -125px) rotateX(90deg);
    }
    &--4 {
      background-image: url(/images/careers-cube-500-4.webp);
      transform: translate(0px, 125px) rotateX(-90deg);
    }
  }
  &__dragger {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 55%;
    left: 50%;
    width: 275px;
    height: 275px;
    touch-action: none;
    cursor: grab;
    user-select: none;
    opacity: 1;
    z-index: 1036;
    transform: translate(-50%, -50%) translate3d(0px, 0px, 0px);
    transform-style: preserve-3d;
    span {
      display: inline-block;
      animation: rotate 5s linear infinite alternate;
    }
    svg {
      width: 3rem;
      height: 3rem;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
