@use '../../../styles/media' as media;

.card {
  position: relative;
  height: 42rem;
  width: 33.5rem;
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--primary-text-color-light);
  }

  &__details {
    flex-grow: 2;
    background-color: transparent;
    position: relative;
    z-index: 99;
  }

  &__title {
    font: var(--title-text-large-regular);
    padding: 1rem 0;
  }

  &:hover &__title {
    color: var(--primary-color);
    text-decoration: underline;
  }

  &__description {
    margin: 1rem 0;
    font: var(--body-text-small-regular);
  }
}
