@use '@styles/media' as media;
.card {
  position: relative;
  cursor: pointer;
  overflow: hidden;

  &__content {
    position: absolute;
    width: 75%;
    bottom: 2rem;
    background-color: var(--black-color);
    color: var(--primary-text-color-light);
    padding: 2rem;
  }

  &__image {
    transition: transform 0.3s ease-in-out;
  }

  &:hover &__image {
    transform: scale(1.1);
  }

  &__description,
  &__cta {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    @include media.breakpoint(md) {
      max-height: 100%;
      opacity: 1;
    }
  }

  &__description {
    margin: 2rem;
  }

  &__cta {
    button {
      padding: 1rem 1.6rem;
    }
  }

  &:hover &__description,
  &:hover &__cta {
    max-height: 10rem;
    opacity: 1;
  }
}
