@use '../../styles/media' as media;

.details {
  padding: 5rem 0;
  @include media.breakpoint(sm) {
    padding: 6rem 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10rem;

    @include media.breakpoint(lg) {
      gap: 3rem;
    }
    @include media.breakpoint(md) {
      flex-direction: column;
      align-items: center;
    }
    &_reverse {
      flex-direction: row-reverse;
      @include media.breakpoint(md) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__row {
    width: 100%;
    @include media.breakpoint(md) {
      display: flex;
      justify-content: center;
      width: 80%;
    }
    @include media.breakpoint(sm) {
      width: 90%;
    }
  }

  &__figure {
    width: 55rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font: var(--title-text-large);
    line-height: 1.4;
    text-transform: capitalize;
    margin-bottom: 2rem;
    @include media.breakpoint(sm) {
      font-size: 3.2rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    @include media.breakpoint(xs) {
      font-size: 2.5rem;
    }
  }

  &__text {
    font: var(--secondary-text-medium);
    line-height: 1.6;
    margin-bottom: 1rem;
    p:not(:last-child) {
      margin-bottom: 5rem;
      @include media.breakpoint(sm) {
        margin-bottom: 2rem;
      }
    }
    a {
      color: var(--primary-text-color);
      text-decoration: none;
      border-bottom: 1px solid;
      font-weight: 600;
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  &__video {
    min-width: 55rem;
    @include media.breakpoint(lg) {
      min-width: 50rem;
    }
    @include media.breakpoint(md) {
      min-width: 100%;
    }
    &_meta {
      display: flex;
      gap: 0.3rem;
      margin: 2rem 0;
      font-size: 1.2rem;
      justify-content: center;
      p:first-child {
        font-weight: 600;
      }
    }
    &_description {
      width: 90%;
      margin: auto;
    }
  }

  &__quote {
    &_wrapper {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: -0.5rem;
        left: -2rem;
        display: block;
        height: 110%;
        width: 0.15rem;
        background-color: var(--primary-color);
      }
    }
    blockquote {
      color: var(--primary-color);
      font: var(--title-text-medium);
      font-weight: 400;
      line-height: 1.4;
    }
    &_meta {
      display: flex;
      align-items: center;
      margin-top: 0.5rem;
      font-size: 1.4rem;
      p {
        text-transform: capitalize;
      }
      p:first-child {
        font-weight: 600;
        margin-right: 0.3rem;
      }
    }
  }
}
